version: "3"

services:
  camunda:
    image: camunda/camunda-bpm-platform:${DISTRO:-latest}
    environment:
      - DB_DRIVER=com.mysql.jdbc.Driver
      - DB_URL=jdbc:mysql://mysql:3306/process-engine
      - DB_USERNAME=camunda
      - DB_PASSWORD=camunda
      - WAIT_FOR=mysql:3306
    links:
      - mysql
    ports:
      - "8080:8080"
    restart: unless-stopped

  mysql:
    image: mysql:5.7
    ports:
      - '8050:3306'
    environment:
      - MYSQL_ROOT_PASSWORD=camunda
      - MYSQL_USER=camunda
      - MYSQL_PASSWORD=camunda
      - MYSQL_DATABASE=process-engine

  internal_DB: 
    image: mysql:5.7
    ports: 
      - '8000:3306'
    environment: 
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_USER=test
      - MYSQL_PASSWORD=test
      - MYSQL_DATABASE=internal

  worker:
    build:
      context: ./worker/
    command: npm start
    volumes:
      - ./worker/:/usr/app
      - /usr/app/node_modules
    depends_on:
      - camunda
      - mysql
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true

  client:
    build:
      context: ./client/
    command: npm start
    volumes:
      - ./client/:/usr/app
      - /usr/app/node_modules
    depends_on:
      - worker
      - camunda
      - mysql
    ports:
      - "3000:3000"
  #react:
  #  build:
  #    context: .
  #    dockerfile: Dockerfile
  #  environment:
  #    - NODE_ENV=production
  #    - WAIT_FOR=camunda
  #  command: yarn
  #  ports:
  #    - 3000:3000
  #  volumes:
  #    - .:/app
  #worker:
  #  container_name: worker
  #  image: node:10
  #  user: node
  #  working_dir: "/app"
  #  ports:
  #  - 6000:6000
  #  volumes:
  #  - ./:/app
  #  command: "npm install"
  #  command: "node src/middleware/camundaWorkers.js"
